body {
    font-family: risque;
    background-image: url(images/tetris.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 109px;
    color: gold;
    text-align: center;
    font-family: risque, cursive;
}

/*psudo element*/

h1::before {
    content: "<";
    color: purple;
}

h1::after {
    content: ">";
    color: purple;
}

h2 {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    padding: 20px;
    position: static;
    text-align: center;
}

h2:first-line {
    color: lawngreen;
}

p {
    font-family: raleway, sans-serif;
    font-size: 25px;
    position: static;
    text-align: left;
    color: gold;
}

p::selection {
    color: lawngreen;
    background: purple;
}

.button {
    display: inline-block;
    border: solid 2px gold;
    color: fuchsia;
    border-radius: 5px 10px gold;
    cursor: pointer;
    text-align: center;
    transition: .5s;

}

.button:hover {
    background-color: gold;
    box-shadow: 5px 10px purple;
}

.button ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    position: static;
}

.button li {
    float: left;
    width: 340px;
    background-color: #dddddd;
    padding: inherit;
    font-size: 47px;
    transition: .5s
}

#connect {
    position: static;
    top: 0;
    left: 0;
    cursor: pointer;
    display: inline-block;
    transition: .5s;
    color: gold;
}

#connect:hover {
    background-color: green;
    transition: .5s;
}

#connect ul {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: gold 2px solid;
}

img:hover {
    box-shadow: 5px 10px purple;
}

.audio {
    background-color: gold;
    width: 300px;
    position: absolute;
}

.audio:hover {
    background: gold;
    transition: .5s;
}

.bottom {
    color: white;
}
